@import "scss/settings";
/****   >>>>>       added simple reset and helpers          <<<<<     ****/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: $font-open-sans;
}
.container {
  width: 1352px;
  margin: 0 auto;

  @include desktop {
    width: 100%;
    padding: 0 15px;
  }
}
