@use "sass:map";

header {
  height: 70px;
  background-color: map.get($colors, color-white);
  box-shadow: map.get($colors, color-grey-shadow) 0 -3px 6px;
  .header__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

/****  logo   ****/
.logo {
  font-family: $font-raleway;
  font-weight: 300;
  color: map.get($colors, color-primary);
  &:focus {
    outline: none;
  }
}
.header__logo {
  font-size: 2rem;
}
/**** navigation  ****/
.header__nav {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.6875rem;
}
.nav__list {
  display: flex;
  gap: 80px;

  .nav__link {
    color: map.get($colors, color-grey);
    letter-spacing: 0.205rem;
    padding: 25px 11px 25px;
    &:focus {
      outline: none;
    }
    &:hover {
      color: map.get($colors, color-black);
      border-bottom: 4px solid map.get($colors, color-primary);
      cursor: pointer;
    }
  }
  // mobile navigation
  @include mobile {
    gap: 2px;
    position: absolute;
    left: 0;
    top: 95px;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding-bottom: 20px;
    display: none;
    .nav__element {
      padding: 0;
    }
    .nav__link {
      display: block;
      padding: 14px 20px;
    }
  }
}
/**** MOBILE navigation  ****/
.menu {
  &__btn {
    display: none;
    position: absolute;
    top: -9999px;
    left: -9999px;
    opacity: 0;
    @include mobile {
      &:checked {
        ~ .nav__list {
          display: flex;
        }

        ~ .menu__toggle {
          span {
            &:nth-child(1) {
              transform: rotate(45deg) translate(2px, 5px);
            }
            &:nth-child(2) {
              opacity: 0;
            }
            &:nth-child(3) {
              transform: rotate(-45deg) translate(2px, -5px);
            }
          }
        }
      }
    }
  }
  &__toggle {
    display: none;

    span {
      width: 20px;
      height: 2px;
      display: block;
      margin-bottom: 3px;
      background-color: map.get($colors,color-primary);
      transition: .3s all ease-in-out;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @include mobile {
      display: block;
    }
  }
}