@use "sass:map";

.opening__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 22px;
}
.opening__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/**** headline  ****/
.opening__headline {
  font-family: var(--font-raleway);
  font-weight: 400;
  font-size: 3.0625rem;
  line-height: 3.5625rem;
  color: var(--color-black);
  margin-bottom: 20px;
  margin-top: 130px;
}
.opening__text {
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  margin-bottom: 38px;
}
/**** opening button  ****/
.btn {
  font-family: var(--font-open-sans);
  font-weight: 700;
  color: var(--color-white);
}
.opening_link {
  background-color: var(--color-primary);
  padding: 22px 157px;
  border-radius: 40px;
  box-shadow: var(--color-primary-shadow) 5px 10px 14px;
}
/**** background image  ****/
.opening__background {
  width: 100%;
  height: auto;
  padding-bottom: 78px;
}